{{ define "iframe" }}
{{ $baseURL_minus_subdir := .Site.BaseURL | replaceRE "^(.*//[^/]+/).*" "${1}" }}
{{ $other_subdir := printf "%ssubdir-canonify-false/" $baseURL_minus_subdir }}
<iframe src='{{ $other_subdir }}' width="700" height="800"></iframe>
{{ end }}

{{ define "extra" }}
<ul>
    {{ range .Pages }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
</ul>
{{ end }}
